body {
    margin: 0; /*убрать отступы по краям*/
}

.header {
    background-color: gray;
    color: whitesmoke;
    padding: 20px 0; /*добавить отступы по сторонам (одно знаени = все стороы
    2 значение = сврерху_снизу + справ_слева, 4 значени = все*/
    font-size: 1.2rem;
    font-weight: bold;
    background-image: url(images/background.jpg);
    background-size: cover;
}
/**/
.main-menu ul {
    list-style: none;
    margin: 0%; 
    padding: 0%;
}

.main-menu li {
    display: inline;
    margin-inline: 10px;
}

.main-menu li:last-child {
    margin-inline: 0px;
}

.main-menu a {
    text-decoration: none;
    color: white;
}

.container {
    max-width: 75%;
    margin: 0 auto;
}

p {
    text-align: justify;
}

.footer {
    background-color: black;
    color: white;
    padding: 20px 0;
}

.avatar {
    text-align: center;
    height: 300px;
    background-image: url(images/background1.png);
    background-repeat: no-repeat;
    background-position: center;
}

.avatar img {
    height: 100%;
}

.text-center {
    text-align: center;

}

.w-50 {
    width: 50%;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    padding: 10px;
    border-radius: 15px;
}
.contact-me-bnt {
    
}