body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: rgb(255, 255, 255);
    color: #090DC4;
    /*
    white
    #ffffff
    rgb(255, 255, 255)
    */
    padding: 20px 0;
    /* первое знач сверху и снизу, второе знач справа и слева*/
    font-size: 1.2rem;
    /* 16px; относительно родительского 1em; относительно корневого элемента 1rem */
    font-weight: bold;
    background-image: url(images/1TVO5XzUpa0.jpg);
    background-size: cover;
}

.main-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-menu li {
    display: inline;
    margin-right: 10px;
}

.main-menu li:last-child {
    margin-right: 0;
}

.main-menu a {
    text-decoration: none;
    color: #090DC4;
}

.container {
    max-width: 75%;
    margin: 0 auto;
}

.container a {
    color: #090DC4;
}

p {
    text-align: justify;
}

.footer {
    background-color: black;
    padding: 20px 0;
    color: white;
}

.avatar {
    text-align: center;
    height: 300px;
}

.icon {
    border-radius: 50%;
}

.avatar img {
    height: 100%;
}

.text-center {
    text-align: center;
}

.w-50 {
    width: 50%;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
}

.contact-me-btn {
    color: #090DC4;
    border-color: #090DC4;
}

table {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}